/*
 * Debugging styles
 */
.gwt-DialogBox {
	z-index: 10000;
}

html {
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}

/*
 * Application styles
 */
body {
	font-family: 'Gudea', monospace;
	background: none;
	color: #ffffff;
}

h1 {
	font-size: 40px;
	margin-bottom: 55px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

input,textarea,.result,.error,.replaced {
	padding: 10px;
	font-size: 25px !important;
	line-height: 25px !important;
	font-family: monospace;
	white-space: pre-wrap;
	overflow: hidden;
	word-wrap: break-word;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input,textarea {
	display: block;
	width: 100%;	
}

.blackened {
	background-color: rgb(200,200,200);
	background-color: rgba(200,200,200,.7);
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.disabled {
	cursor: pointer !important;
}

.faded {
	opacity: .5;
}

.footer {
	margin-top: 50px;
	text-align: center;
}

.error {
	background-color: #FFB3B3;
}

.flags button {
	
}

.inputs {
	margin-bottom: 25px;
}

.issue-open {
	background-color: rgb(178, 0, 0);
	background-color: rgba(178, 0, 0, .8);
}

.issue-closed {
	background-color: rgb(0,178,0);
	background-color: rgba(0,178,0,.8);
}

.matches {
	background-color: #D9FFE5;
}

.replaced {
	background-color: #BFE0FF;
}

.spaced {
	margin: 10px;
}

.highlight {
	padding-bottom: 2px;
	border-color: #888888;
	border-bottom: solid 2px;
	margin-bottom: 2px;
	display: inline-block;
}

.group {
	display: inline;
}

.static {
	position: static;
}

@media (max-width: 767px) {
    html {
        background: #4d3b29 url("../images/background-mobile.jpg") top;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    html {
        background: #4d3b29 url("../images/background-tablet.jpg") top;
    }
}
