paper-input {
	display: block;
    padding: 1.5%;
	width: 97%;
	font-size: 25px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 1em;
	line-height: 30px;
	overflow: hidden;
	word-wrap: break-word;
}

paper-button {
  text-transform: none;
}
