.header {
  margin-bottom: 20px;
}

label {
  text-align: center;
  margin: 5px auto 5px;
  color: #211d25;
}

.modal.container {
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #211D25;
  border-radius: 2px;
}

.modal-fields > *:first-child {
  margin-top: 20px;
}

.modal-fields > div {
  margin-bottom: 20px;
}

.modal {
  display: block;
  height: auto;
  position: fixed;
  z-index: 1029;
  top: -150%;
  bottom: auto;
  left: auto;
  right: auto;
  transition: top 1s;
}

.modal.displayed {
  top: 50px;
}

.modal-button {
  position: relative;
  height: 30px;
  border: 0;
  font-weight: bold;
  font-family: inherit;
  font-size: 14pt;
  padding-bottom: 33px;
}

button {
  background-color: #facd22;
  border-radius: 5px;
  color: #211D25;
  padding: 10px 20px 10px;
  display: block;
  font-weight: bold;
  margin: 20px auto 10px;
}

button#new-contact {
  border: 0;
  font-size: 16pt;
  background-color: #FACD22;
}

.contact {
  margin-top: 20px;
  height: auto;
  cursor: pointer;
}

.contact .notes {
  opacity: 0;
  transition: opacity 0.5s;
}

.caption {
  height: auto;
  min-height: 160px;
  max-height: 160px;
  transition: max-height 0.5s;
}

.contact.selected {
  overflow: visible;
  position: relative;
  z-index: 100;
}

.contact.selected .notes {
  opacity: 1;
}

.contact.selected .caption {
  min-height: 160px;
  max-height: 1000px;
  height: auto;
}

.wrapper-2x1 {
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.wrapper-2x1:after {
  padding-top: 50%;
  display: block;
  content: '';
}

.wrapper-2x1 > * {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  color: black;
}

.header {
  text-align: center;
  background-color: #352F3C;
  color: rgb(220,220,220);
  padding: 0;
  font-size: 20px;
  border-radius: 5px;
}

.header > h1 {
  font-size: 60px;
  color: white;
}

.header img {
  height: 100px;
}