<link rel="import" href="../polymer/polymer.html" >
<link rel="import" href="../paper-input/paper-input.html">

<polymer-element name="form-component" noscript>
    <template>
        <paper-input id="name" label="Full Name" type="text" floatingLabel required tabindex="1"></paper-input>
        <paper-input id="email" label="you@example.com" type="email" error="Invalid email entered" tabindex="2"></paper-input>
        <paper-input id="text" label="What can we help you with?" multiline tabindex="3"></paper-input>
    </template>
</polymer-element>